@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0px 0px;
    margin: 0px 0px;
    font-family: 'Montserrat', sans-serif;

}

body{
    overflow: hidden;
}

.center{
    text-align: center;
}

nav{
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 2px 1px 2px #e0e0e0;
}

.img-grid{
    height: 50px;
}

ul, li{
    list-style-type: none;
}

li{
    display: inline-block;
    padding: 10px;
    
}

b{
    border-bottom: 3px solid;
    font-weight: bolder;
}

.profile{
    border-radius: 50px;
    height: 40px;
}

.ungrid{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left{
    padding-left: 5%;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right > i {
    font-size: 22px;
    margin-right: 20px;
}

.search > i {
    font-size: 20px;
    margin-right: 15px;
}


.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.l-wp{
    width: 250px;
    border-right: 2px solid #f4f4f4;
}

.r-wp{
    width: 100%;
    overflow-y: auto;
}

.lb{
    font-weight: bold;
    padding: 15px 25px;
    border-bottom: 2px solid #f4f4f4;
}

.element{
    font-weight: 400;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.title{
    margin-bottom: 10px;
}

.element{
    padding: 2px 0px;
}
.form-mini {
    height: 20px;
    width: 60px;
    padding: 7px 10px;
    border-radius: 12px;
    background-color: #ffffff;
    outline: none;
    border: 1.5px solid #e8e8e8;
}

.form-mini::placeholder{
    background-color: #f1f1f1;
    text-align: center;
    color: #939393;
    border-radius: 12px;
}

.form-mini:placeholder-shown{
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}

.element-price{
    width: 190px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1350px) {
    .grid-row{
        grid-template-columns: repeat(2, 1fr) !important;
        padding: auto;
    }
}

@media screen and (max-width: 400px) {
    .left{ 
        display: none;
    }
    .ungrid{
        justify-content: right;
    }
    .l-wp{
        display: none;
    }
    .search{
        padding: 30px 10% !important;
        width: calc(100%-250px);
    }
    .object-text {
        width: 80% !important;
    }
    .grid-row{
        grid-template-columns: repeat(1, 1fr) !important;
        padding: auto;
    }
    .moda{
        right: 40px !important;
    }
    .modab{
        right: 10px !important;
    }
}

.set{
    border-radius: 12px;
    width: 190px;
    outline: none;
    border: none;
    color: #f1f1f1;
    padding: 12px;
    margin-top: 10px;
    background-color: rgb(37, 46, 94);
}

.pp{
    text-align: center;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}

.bold{
    border: none;
    font-weight: bolder;
}

.form-check-input{
    background-color: rgb(37, 46, 94) !important;
}

.form-input{
    border-radius: 12px;
    background-color: #fafafa;
    padding: 12px 18px;
    color: #939393;
}

.object-text{
    background: none;
    outline: none;
    border: none;
    width: 90%;
    margin-left: 10px;
}

.search{
    padding: 30px 25%;
    width: calc(100%-250px);
}

.highlight{
    border: none;
    color: #000;
}

.result{
    margin-top: 10px;
    color: #a5a5a5;
}

.sort{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn{
    padding: 8px 14px;
    border-radius: 12px;
    margin-right: 10px;
}

.sort > p{
    margin-right: 20px;
}

.active{
    background-color: rgb(37, 46, 94);
    color: #f1f1f1;
    border: none;
}

.grid-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    padding: 0px 15%;
    text-align: center;
    row-gap: 50px;
    margin-bottom: 100px;
}

.box{
    border-radius: 20px;
    border: 2px solid #f4f4f4;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
   justify-content: center;
    width: fit-content;
    margin: auto;
}

h3{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bolder;
}

.img__box{
    width: 190px;
}

.rayon{
    margin-top: 0px;
    margin-left: 10px;
    font-size: small;
}

.bottom__box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.coin{
    font-weight: bolder;
    margin-left: 10px;
    font-size: 14px;
}

.small{
    font-weight: bolder;
    font-size: smaller;
    margin: 0px 0px;
    text-align: center;
    user-select: none;
    width: fit-content;
    transition: .8s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

.round{
    position: absolute;
    background-color: #fe6969;
    border-radius: 50px;
    padding: 3px;
    font-size: 12px;
    width: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(9px, -5px);
    text-align: center;
}

.small:hover{
    background-color: rgb(37, 46, 94);
    color: #f1f1f1;
    border: none;
}

.moda {
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    color: #13101a;
    right: 60px;
    top: 55px;
    box-shadow: 0px 4px 8px #a1a1a1;
    animation: appared 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    animation: appared 0.5s;
}

.img__minimize{
    width: 50px;
}

.f-s{
    font-weight: bold;
    font-size: 15px;
}

.block__:last-of-type{
    border: none;
}

.price__{
    font-size: 14px;
}

.block__{
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #f4f4f4;
    padding: 7px 10px;
}

.fa-trash{
    font-size: 16px;
}

.under_block{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block__mini{
    margin-left: 5px;
}

.modab {
    height: auto;
    max-height: 222px;
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    color: #13101a;
    right: 140px;
    top: 55px;
    box-shadow: 0px 4px 8px #a1a1a1;
    animation: appared 0.5s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: appared 0.5s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

@keyframes appared {
    from{
        top: 65px;
        opacity: 0;
    }
    to{
        top: 55px;
        opacity: 1;
    }
}

.btn-3:hover {
    border-radius: 50px;
}

.btn-3 {
    border-radius: 4px;
    width: 35px;
    transition: all .5s;
}

.name, .email {
    margin-left: 0px;
    margin-top: 5px;
    text-align: center;
}

.email {
    font-size: 12px;
    color: gray;
}

.box__:last-of-type {
    margin-bottom: 0px;
}
.box__:first-of-type {
  margin-top: 0px;
}

.box__ {
    font-size: 18px;
    text-align: left;
}

.box__ p {
    margin-left: 6px;
    font-size: 14.5px;
}

a {
    text-decoration: none;
    color: rgb(51, 51, 70);
}

.box__ {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  border-radius: 4px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  font-size: 18px;
  width: 150px;
  text-align: left;
}

.mr-0 {
  margin-right: 0px;
  margin-top: 10px;
  width: 45px;
}

.moda {
    color: #13101a;
}

.name::first-letter {
    text-transform: uppercase;
}

a {
    color: rgb(51, 51, 70);
}